In [ ]:
#import relevant libraries

In [97]:
import pandas as pd
import numpy as np

In [ ]:
#use %store function to import key statistics from all other python notebooks (Sharpe Ratio, Cumulative Returns, Sortino Ratio, Beta, Alpha, Outperformance)

In [26]:
%store -r sharpe_ratios
sharpe_ratios = pd.DataFrame(sharpe_ratios, columns=["Sharpe Ratios"])
sharpe_ratios

      Sharpe Ratios
SHEL       0.071999
COP        0.556158
CVX        0.371731
XOM        0.294456
IXC        0.224020

In [13]:
%store -r cumulative_return_df
cumulative_return_df

      Cumulative Return
SHEL           0.384815
COP          130.735318
CVX           54.613728
XOM           36.398767
IXC           21.917556

In [16]:
%store -r cumulative_return_df
cumulative_return_df

      Cumulative Return
SHEL           0.384815
COP          130.735318
CVX           54.613728
XOM           36.398767
IXC           21.917556

In [63]:
%store -r sortino_ratios
sortino_ratios = sortino_ratios["Sortino Ratio"]
sortino_ratios_df = pd.DataFrame(sortino_ratios,)
sortino_ratios_df.index=[ "SHEL", "COP","CVX","XOM", 'IXC']
sortino_ratios_df

      Sortino Ratio
SHEL      -0.071382
COP        0.190808
CVX        0.024329
XOM        0.021217
IXC        0.006889

In [65]:
%store -r Beta
Beta = Beta["Beta"]
Beta_df = pd.DataFrame(Beta)
Beta_df.index=[ "SHEL", "COP","CVX","XOM"]
Beta_df

          Beta
SHEL  0.768874
COP   0.944026
CVX   0.893733
XOM   1.285763

In [28]:
%store -r alpha_df
alpha_df

         Alpha
SHEL -0.246536
COP   0.856203
CVX   0.224043
XOM   0.129943

In [77]:
%store -r pct_outperformance_df
pct_outperformance_df
pct_outperformance_df_pct = pct_outperformance_df/ 59
pct_outperformance_df_pct.columns=["Outperform %"]
pct_outperformance_df_pct

      Outperform %
XOM       0.491525
CVX       0.542373
SHEL      0.440678
COP       0.593220

In [ ]:
#combine imported statistics into a DataFrame

In [78]:
criterias_df = pd.concat([cumulative_return_df,alpha_df, pct_outperformance_df_pct, Beta_df,sharpe_ratios,sortino_ratios_df], axis=1)
criterias_df = criterias_df.drop("IXC")
criterias_df

,Cumulative Return,Alpha,Outperform %,Beta,Sharpe Ratios,Sortino Ratio
SHEL,0.384815,-0.246536,0.440678,0.768874,0.071999,-0.071382
COP,130.735318,0.856203,0.593220,0.944026,0.556158,0.190808
CVX,54.613728,0.224043,0.542373,0.893733,0.371731,0.024329
XOM,36.398767,0.129943,0.491525,1.285763,0.294456,0.021217

In [95]:
#Use describe function to get 25th, 50th, and 75th percentiles

In [194]:
quartiles_df = criterias_df.describe()

In [ ]:
#drop other rows/data that is not needed

In [141]:
quartile_df = quartiles_df.drop(['count', 'mean', 'std', 'min', 'max'])
quartile_df

,Cumulative Return,Alpha,Outperform %,Beta,Sharpe Ratios,Sortino Ratio
25%,27.395279,0.035824,0.478814,0.862518,0.238842,-0.001933
50%,45.506247,0.176993,0.516949,0.918879,0.333093,0.022773
75%,73.644125,0.382083,0.555085,1.029460,0.417837,0.065949

In [ ]:
#check code to single out specific measurements

In [139]:
quartile_df.loc["25%", "Cumulative Return"]

27.395279201512288

In [142]:
quartile_df.loc["50%", "Cumulative Return"]

45.50624746296711

In [143]:
quartile_df.loc["75%", "Cumulative Return"]

73.64412534048343

In [ ]:
#Code for the points system to assign 0,1,2,3 points to each qualrtile repsectively and add up the points for each stock.

In [150]:
points = 0

if criterias_df.loc["SHEL", "Cumulative Return"] < quartile_df.loc["25%", "Cumulative Return"]:
    points = 0
elif criterias_df.loc["SHEL", "Cumulative Return"] < quartile_df.loc["50%", "Cumulative Return"]:
    points = 1
elif criterias_df.loc["SHEL", "Cumulative Return"]< quartile_df.loc["75%", "Cumulative Return"]:
    points = 2
elif criterias_df.loc["SHEL", "Cumulative Return"] > quartile_df.loc["75%", "Cumulative Return"]:
    points = 3

print(points)

0

In [151]:
points = 0

if criterias_df.loc["COP", "Cumulative Return"] < quartile_df.loc["25%", "Cumulative Return"]:
    points = 0
elif criterias_df.loc["COP", "Cumulative Return"] < quartile_df.loc["50%", "Cumulative Return"]:
    points = 1
elif criterias_df.loc["COP", "Cumulative Return"]< quartile_df.loc["75%", "Cumulative Return"]:
    points = 2
elif criterias_df.loc["COP", "Cumulative Return"] > quartile_df.loc["75%", "Cumulative Return"]:
    points = 3

print(points)

3

In [160]:
def total_points(Ticker):
    if criterias_df.loc[Ticker, "Cumulative Return"] < quartile_df.loc["25%", "Cumulative Return"]:
        points = 0
    elif criterias_df.loc[Ticker, "Cumulative Return"] < quartile_df.loc["50%", "Cumulative Return"]:
        points = 1
    elif criterias_df.loc[Ticker, "Cumulative Return"]< quartile_df.loc["75%", "Cumulative Return"]:
        points = 2
    elif criterias_df.loc[Ticker, "Cumulative Return"] > quartile_df.loc["75%", "Cumulative Return"]:
        points = 3
    print(points)

In [162]:
total_points("XOM")

1

In [196]:
def total_points(Ticker, Column):
    if criterias_df.loc[Ticker, Column] < quartile_df.loc["25%", Column]:
        points = 0
    elif criterias_df.loc[Ticker, Column] < quartile_df.loc["50%", Column]:
        points = 1
    elif criterias_df.loc[Ticker, Column]< quartile_df.loc["75%", Column]:
        points = 2
    elif criterias_df.loc[Ticker, Column] > quartile_df.loc["75%", Column]:
        points = 3
    
    return points

In [204]:
XOM_points = (total_points("XOM","Cumulative Return") + total_points("XOM","Alpha") + total_points("XOM","Outperform %") + 
              total_points("XOM", "Beta") + total_points("XOM","Sharpe Ratios") + total_points("XOM","Sortino Ratio"))
XOM_points

8

In [198]:
COP_points = total_points("COP","Cumulative Return") + total_points("COP","Alpha") + total_points("COP","Outperform %") + total_points("COP", "Beta") + total_points("COP","Sharpe Ratios") + total_points("COP","Sortino Ratio")
COP_points

17

In [205]:
SHEL_points = (total_points("SHEL","Cumulative Return") + total_points("SHEL","Alpha") + total_points("SHEL","Outperform %") + 
              total_points("SHEL", "Beta") + total_points("SHEL","Sharpe Ratios") + total_points("SHEL","Sortino Ratio"))
SHEL_points

0

In [206]:
CVX_points = (total_points("CVX","Cumulative Return") + total_points("CVX","Alpha") + total_points("CVX","Outperform %") + 
              total_points("CVX", "Beta") + total_points("CVX","Sharpe Ratios") + total_points("CVX","Sortino Ratio"))
CVX_points

11

In [221]:
Talley_Points = [CVX_points,SHEL_points,COP_points,XOM_points]

Total_Points_df = pd.DataFrame(Talley_Points, index=["CVX", "SHEL", "COP", "XOM"], columns=["Total Points"])
Total_Points_df.sort_values(by="Total Points")

      Total Points
SHEL             0
XOM              8
CVX             11
COP             17

In [ ]:
#COP IS THE CHOICE